@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;900&display=swap");

:root {
  /* App colors */
  --color-lemon: 215 221 53;
  --color-grape: 87 93 169;
  --color-fuschia: 228 45 159;
  --color-blue: 2 85 139;
  --color-light-gray: 247 241 237;

  --color-cream: 249 247 241;

  --app-font: "Hahmlet", sans-serif;
}

body {
  margin: 0;
  font-family: var(--app-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
