@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  /* App colors */
  --color-light-gray: 245 245 245;
  --color-green: 77 114 77;
  --color-light-green: 141 180 142;

  --app-font: "Inconsolata", monospace;
}

body {
  margin: 0;
  font-family: var(--app-font);
  background-color: var(--color-light-gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer utilities {
  .center-horizontally {
    @apply left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
}
